/* COLORES: tonos cálidos */
:root {
    --color-primario: #e67a39;   /* naranja cálido */
    --color-secundario: #ffb278; /* durazno */
    --color-fondo: #fff7f0; 
    --color-texto: #5a4636;
}

body {
    background: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Poppins', sans-serif;
}

/* Hero */
.hero {
    height: 100vh; /*medida relativa asociada al alto de la ventana*/
    /*background: url("img/perroConLentes.jpg") center/cover no-repeat;
    opacity: 0.7;*/


      background: 
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
    url('img/perroConLentes.jpg') center/cover no-repeat;
  height: 100vh;
  h1{
    color:aliceblue;
    }

    p{
    color:#ffb278;
    }
}




/* Botón principal */
.btn-primary {
    background-color: var(--color-primario);
    border: none;
}
.btn-primary:hover {
    background-color: var(--color-secundario);
}

.servicios{
    background: #100c44b4;
    color:var(--color-secundario)
    
}


/* Tarjetas */
.servicio-card:hover {
    transform: scale(1.05);
    transition: .3s;
}

.card img {
    height: 200px;
    object-fit: cover;
}

footer {
    background: var(--color-primario);
    color: white;
}



.servicios .card-body{
    color: #5a4636;
}


/* Animación suave al aparecer */
.contacto-box {
    opacity: 0;
    transform: translateY(30px);
    animation: aparecer 0.8s ease-out forwards;
}

@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Resaltar campos al seleccionar */
.contacto-box input:focus,
.contacto-box textarea:focus {
    border-color: #ff8fab;
    box-shadow: 0 0 5px #ffb3c6;
    transition: 0.3s;
}

/* Efecto en botón */
.enviar-btn:hover {
    transform: scale(1.05);
    transition: 0.2s;
}
